Source: myapp
Section: base
Priority: optional
Maintainer: Your Name <your.email@example.com>
Build-Depends: python3-dev, python3-setuptools, python3-pip, dh-virtualenv

Package: myapp
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libcurl4-openssl-dev, libssl-dev, libpq-dev, python3 (>= 3.7)
Description: My awesome app
 My app is awesome because it does awesome things.
